*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Logo */
.logo {
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.125rem;
    line-height: 91.6%;
    background: #000000;
    color: #FFFFFF;
    padding: 0.6em;
    position: absolute;
    top: 0;
    left: 1.1em;
    z-index: 1;
}
.logo span {
    color:#6889FF;
}
.cols-2, .quote-section, .mid-section, .thumbnails {
    margin-left: 3.75rem;
}
/* Top Section */
.cols-2 {
    display: grid;
    grid-template-columns: 80% auto;
    position: relative;
}
.heading {
    padding: 1em;
    text-align: center;
    background: #B2DD9E url('assets/streaks.jpg');
    background-position: 50% 50%;
    background-blend-mode: screen, normal;
}
.heading h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-weight: 400;
    line-height: 91.6%;
    margin: 2.7em auto .6em;
}
.heading p {
    font-size: 1.125rem;
    line-height: 141.6%;
    margin-bottom: 19em;
}

.drone {
    position: absolute;
    top: 28rem;
    left: 7rem;
}
.drone-img, .drone-shadow {
    max-width: 12.5rem;
}
.drone-img {
    z-index: 1;
    position: relative;
}
.drone-shadow {
    position: absolute;
    top: .5em;
    left: -.5em;
}

.menu {
    background: #7988BE;
    padding: 0.7em;
}
.menu-btn {
    cursor: pointer;
}

/* Quote Section */
.quote-section {
    background: url('assets/stadium.jpg');
    background-blend-mode: screen;
    background-size: cover;
    background-position: left;
}
.quote {
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    background: rgba(48, 56, 83, 0.9);
    padding: 3.75em 2.5em 20em;
}
.quote-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 99.6%;
    padding-bottom: 2em;
}
.quote-author {
    font-size: 1.125rem;
}

/* Middle Section */
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 1.25em 0 .7em;
}
.mid-section p {
    font-size: 1.125rem;
    line-height: 141.6%;
}

/* Thumbnails Section */
.thumbnails {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 7rem);
    grid-template-rows: repeat(3, 7rem);
}
.thumbnails > div {
    background-size: cover;
    background-position: 50%;
}
.img-1 {
    grid-area: 1 / 2 / 2 / 3; 
    background: url('assets/footage-4.jpg');
}
.img-2 {
    grid-area: 1 / 3 / 2 / 4; 
    background: url('assets/footage-2.jpg');
}
.img-3 {
    grid-area: 2 / 1 / 3 / 2; 
    background: url('assets/footage-5.jpg');
}
.img-4 {
    grid-area: 2 / 2 / 3 / 3; 
    background: url('assets/footage-3.jpg');
}
.img-5 {
    grid-area: 3 / 2 / 4 / 3; 
    background: url('assets/footage-1.jpg');
}