*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 1.4em;
}
.logo-img {
    width: 24px;
    margin-right: .5em;
}
.logo-wrapper,
.menu {
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.menu {
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: #090909;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    margin-left: 2em;
}
.menu a:hover,
.menu a:active {
    text-decoration: underline;
}

/* Typography */

p.logo-text {
    font-family: 'Roboto', sans-serif;
    color: #0E0E0E;
    font-size: .85rem;
    font-weight: 700;
}
h1.hero-post-title {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.03em;
}
h2.blog-item-title {
    font-size: 1.5rem;
    line-height: 1.082;
    margin: .375em 0;
}
p.date {
    text-transform: uppercase;
    font-size: 0.75rem;
}
p.hero-text,
p.blog-item-text {
    font-size: 1rem;
    line-height: 1.25;
}

/* Hero Post */

.hero-post {
    color: #FFFFFF;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em;
}
.hero-post-wrapper {
    background: url('../images/article-image-hero.jpg');
    background-size: cover;
}

/* Blog List Section */

.blog-list {
    padding: 2.125em 1.25em 1.69em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 2.56em 1.625em;
}
.blog-item-img {
    width: 100%;
    max-height: 230px;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    margin-bottom: .875em;
}
a.view-more-btn {
    display: block;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 2.69em;
}
a.view-more-btn:hover,
a.view-more-btn:active {
    color: #717171;
}

/* Footer */

.footer {
    background: #202020;
    padding: 2.3em 0;
    text-align: center;
}
p.footer-title {
    color: #ECECEC;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.08;
    letter-spacing: -0.03em;
}
.footer-copyright {
    color: #D7D7D7;
    font-size: .75rem;
    line-height: 1.25;
}

@media screen and (min-width: 768px)  {
    :root {
        font-size: 18px;
    }
    .header {
        padding: 1.4em 2em;
    }
    .hero-post {
        padding: 3em;
        min-height: 400px;
    }
}
@media screen and (min-width: 1100px) {
    .menu a {
        font-size: .9rem;
    }
    p.logo-text {
        font-size: 1.1rem;
    }
    .hero-post {
        min-height: 485px;
    }
    p.date {
        font-size: .9rem;
    }
    h1.hero-post-title {
        font-size: 2.3rem;
    }
    p.hero-text {
        max-width: 615px;
    }
    .blog-list {
        padding: 2em;
    }
}