*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #151515;
}
img {
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover,
a:active {
    text-decoration: underline;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 1.4em;
}
.logo-img {
    width: 24px;
    margin-right: .5em;
}
.logo-wrapper,
.menu {
    display: flex;
    align-items: center;
}
.menu {
    list-style: none;
}
.menu a {
    color: #090909;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    margin-left: 2em;
}

/* Typography */

a.logo-text {
    font-family: 'Roboto', sans-serif;
    color: #0E0E0E;
    font-size: .85rem;
    font-weight: 700;
}
h1 {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.03em;
}
h2 {
    font-size: 1.5rem;
    line-height: 1.082;
    margin: .375em 0;
    color: #141414;
}
h3 {
    font-size: 1rem;
}
p.date {
    text-transform: uppercase;
    font-size: 0.75rem;
}
p {
    font-size: 1rem;
    line-height: 1.25;
}

/* Links */

a.view-more-btn {
    display: block;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 2.69em;
}
a.view-more-btn:hover,
a.view-more-btn:active {
    color: #717171;
}

/* Hero Post */

.hero-post {
    color: #FFFFFF;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em;
}
.hero-post-wrapper {
    background: url('../images/article-image-hero.jpg');
    background-size: cover;
}

/* Blog List Section */

.blog-list {
    padding: 2em 1.25em 1.69em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 2.56em 1.625em;
}
.blog-list img {
    max-height: 230px;
    margin-bottom: .875em;
}
.blog-list p {
    color: #505050;
}

/* Footer */

footer {
    background: #202020;
    padding: 2.3em 0;
    text-align: center;
}
p.footer-title {
    color: #ECECEC;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.08;
    letter-spacing: -0.03em;
}
.footer-copyright {
    color: #D7D7D7;
    font-size: .75rem;
    line-height: 1.25;
}

/* post.html */

.main-article {
    padding: 2em 1.25em;
}
h1.article-title {
    margin: .5em auto;
}
.main-article img {
    max-height: 191px;
    margin: 2.2em auto;
}
.recent-posts > p {
    text-align: center;
    font-weight: 700;
}

/* Media Queries */

@media screen and (max-width: 374px) {
    :root {
        font-size: 14px;
    }
    .blog-list {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px)  {
    :root {
        font-size: 18px;
    }
    header {
        padding: 1.4em 2em;
    }
    .hero-post {
        padding: 3em;
        min-height: 400px;
    }
    .main-article {
        padding: 2em;
    }
    .main-article img {
        max-height: 488px;
    }
}
@media screen and (min-width: 1100px) {
    .menu a {
        font-size: .9rem;
    }
    p.logo-text {
        font-size: 1.1rem;
    }
    .hero-post {
        min-height: 360px;
    }
    p.date {
        font-size: .9rem;
    }
    h1 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p.hero-text {
        max-width: 615px;
    }
    .blog-list {
        padding: 2em;
    }
    .main-article {
        width: 90vw;
        margin: 0 auto;
    }

    .main-article > * {
        width: 90%;
        margin: 0 auto;
    }
}
