*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --text-color: #565656;
    --primary-color: #008AD8;

}

body {
    margin: 0;
    background: #F4F4F4;
    font-family: 'Lexend Deca', sans-serif;
}
.container {
    margin: 2.6em;
}

/* Typography */
h1 {
    font-size: 2rem;
    margin-bottom: 0;
}
.headings p {
    font-size: 1.125rem;
    color: var(--text-color);
}

.filter, .labels {
    display: none;
}

/* Search bar and Menu */
.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.25rem;
}
.search {
    border: none;
    padding: 0.5em;
    border-radius: 2.25em;
    background: #FFFFFF url('assets/search.svg') no-repeat right .5em center;
    width: 100%;
}
.search:focus {
    outline: thin solid var(--text-color);
}
.menu {
    margin: 0 .5em;
}

.far, .fas, .menu {
    cursor: pointer;
}

/* Main Section */
.cars, .labels {
    margin: -1em -1em 2em;
    padding: 1em;
    border-radius: 6px;
}
.cars:hover {
    background: #FFFFFF;
}
.car-name {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.375rem;
}
.car-location {
    color: var(--text-color);
    font-size: 1.125rem;
}
.cols-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-price {
    font-size: 1.5rem;
    margin: 0;
}