*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

.text-container {
    background: #5200FF;
    padding: 2.7rem;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.text-container:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: 100%;
    opacity: .22;
}

.content {
    position: relative;
}

.text-container, .input-container {
    padding: 6.375rem 8vw;
}

h1.title {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.2em;
}

p.description {
    font-size: 1.5rem;
    line-height: 1.5em;
}

label {
    font-size: 1.125rem;
    display: block;
    margin-bottom: 0.875rem;
}
input {
    background: #EDEDED;
    border: 1px solid #C7C7C7;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 2.5rem;
}

button {
    width: 100%;
    margin: 3.75rem 0; 
    font-size: 1.125rem;
    padding: 1em;
    background: #5200FF;
    color:#FFFFFF;
    border: none;
}

@media only screen and (min-width: 550px) {
    .form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    button {
        width: 11rem;
    }
}

@media only screen and (min-width: 740px) {
    body {
        display: flex;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
}